.nav_items_container {
  display: flex;
  width: 100%;
}

.nav_item_1 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 100%;
  background-color: #ef262c;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  align-items: center;
  padding: 1.4rem;
  font-weight: 500;
}
.nav_item_2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  align-items: center;
  padding: 1.4rem;
  font-weight: 500;
}
.nav_item_2:hover {
  cursor: pointer;
  background-color: #ef262c;
}
.discounts_container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.discounts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
