html,
body {
  padding: 0;
  margin: 0;
  font-family:  Roboto, sans-serif;
background-color: #F5F5F5;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header-bg{
  background-color: #031424;
  width: 100%;
}