html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #f5f5f5;
  font-size: 16px;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

