.topbar_container {
  margin-top: 30px;
  margin-left: 6rem;
  margin-right: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title {
  font-weight: 900;
  font-size: 1.5rem;
}

.search_bar input {
  background-color: white;
  border: 0;
  font-size: 18px;
  padding: 1.3rem;
  height: 3.3rem;
  width: 39rem;
  outline: none;
}
.search_input {
  display: flex;
}
.search_icon {
  height: 3.3rem;
  width: 50px;
  color: black;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_button{
  height: 3.3rem;
  width: 109px;
  padding: 20px;
  text-align: center;
  background-color: #EF262C;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.search_button:hover{
  transform: scale(1.1);
  transition: 0.6s ease-in-out;
}

.account_container{
  display: flex;
  align-items: center;
}
.sign_in_container{
  display: flex;
  flex-direction: column;
 
}
.sign_in_button{
  opacity: 0.5;
  cursor: pointer;
}
.account_button{
  margin-top: 4px;
  cursor: pointer;
}
.favorites{
  display: flex;
  align-items: center;
  margin: 0 2.2rem;
}
.favorite_icon{
  
}